*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    text-align: center;
}
#container-libros{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;

    
}
#modal{
    display: none;
    width: 70%;
    margin: auto;
    border: 1px gray solid;
    border-radius: 10px;
    padding: 1rem;
}
#modal input{
    width: 50%;
    margin: auto;
}